<div class="pt-40">
  <img class="technology" src="../../../assets/images/iconos/angular.png" style="float: left;">
  <img class="technology" src="../../../assets/images/iconos/react.png" style="float: left;">
  <img class="technology" src="../../../assets/images/iconos/vue.png" style="float: left;">
  <img class="technology" src="../../../assets/images/iconos/node.png" style="float: left;">
  <img class="technology" src="../../../assets/images/iconos/blockchain.png" style="float: left;">
  <img class="technology" src="../../../assets/images/iconos/ionic.png" style="float: left;">
  <img class="technology" src="../../../assets/images/iconos/ethereum.png" style="float: left;">
  <img class="technology" src="../../../assets/images/iconos/python.png" style="float: left;">
  <img class="technology" src="../../../assets/images/iconos/csharp.png" style="float: left;">
  <img class="technology" src="../../../assets/images/iconos/java.png" style="float: left;">
</div>
