<div>
  <div class="flex flex-wrap">
    <div class="w-full md:w-1/3 pl-64" style="text-align: -webkit-center;">
      <ul class="mb-4">
        <img class="technology" src="../../../assets/images/iconos/angular.png">
      </ul>
    </div>
    <div class="w-full md:w-1/3 pr-64" style="text-align: -webkit-center;">
      <ul class="pt-6 mb-4">
        <img class="technology" src="../../../assets/images/iconos/react.png">
      </ul>
    </div>
  </div>
</div>

<div>
  <div class="flex flex-wrap">
    <div class="w-full md:w-1/3 pl-64" style="text-align: -webkit-center;">
      <ul class="mb-4">
        <img class="technology" src="../../../assets/images/iconos/vue.png">
      </ul>
    </div>
    <div class="w-full md:w-1/3 pr-64" style="text-align: -webkit-center;">
      <ul class="pt-6 mb-4">
        <img class="technology" src="../../../assets/images/iconos/node.png">
      </ul>
    </div>
  </div>
</div>


<div>
 <div class="flex flex-wrap">
   <div class="w-full md:w-1/3 pl-64" style="text-align: -webkit-center;">
     <ul class="mb-4">
       <img class="technology" src="../../../assets/images/iconos/blockchain.png">
     </ul>
   </div>
   <div class="w-full md:w-1/3 text-right">
     <ul class="mb-4">
       <li class="mt-2">
         <p class="text-center text-red-500 text-xl">What makes</p>
         <span class="text-center text-red-500 text-xl">us</span>
         <span class="text-center italic text-red-500 text-xl">different?</span>
         <p class="text-center text-xl">Our experience in tech</p>
       </li>
     </ul>
   </div>
   <div class="w-full md:w-1/3 pr-64" style="text-align: -webkit-center;">
     <ul class="pt-6 mb-4">
        <img class="technology" src="../../../assets/images/iconos/ionic.png">
     </ul>
   </div>
 </div>

 <div>
   <div class="flex flex-wrap">
     <div class="w-full md:w-1/3 pl-64" style="text-align: -webkit-center;">
       <ul class="mb-4">
         <img class="technology" src="../../../assets/images/iconos/ethereum.png">
       </ul>
     </div>
     <div class="w-full md:w-1/3 pr-64" style="text-align: -webkit-center;">
       <ul class="pt-6 mb-4">
       <img class="technology" src="../../../assets/images/iconos/python.png">
     </ul>
    </div>
  </div>
 </div>

 <div>
   <div class="flex flex-wrap">
     <div class="w-full md:w-1/3 pl-64" style="text-align: -webkit-center;">
       <ul class="mb-4">
         <img class="technology" src="../../../assets/images/iconos/csharp.png">
       </ul>
     </div>
     <div class="w-full md:w-1/3 pr-64" style="text-align: -webkit-center;">
       <ul class="pt-6 mb-4">
         <img class="technology" src="../../../assets/images/iconos/java.png">
       </ul>
      </div>
    </div>
 </div>

</div>
