<p>technologies component works!</p>
<img class="technology" src="../../../assets/images/iconos/angular.png">
<img class="technology" src="../../../assets/images/iconos/react.png">
<img class="technology" src="../../../assets/images/iconos/vue.png">
<img class="technology" src="../../../assets/images/iconos/node.png">
<img class="technology" src="../../../assets/images/iconos/ionic.png">
<img class="technology" src="../../../assets/images/iconos/blockchain.png">
<img class="technology" src="../../../assets/images/iconos/ethereum.png">
<img class="technology" src="../../../assets/images/iconos/python.png">
<img class="technology" src="../../../assets/images/iconos/csharp.png">
<img class="technology" src="../../../assets/images/iconos/java.png">
