<section class="mt-16 pt-24">

	<div class="bg-gray-200">
		<div class="container mx-auto px-10 sm:px-0 sm:py-24" >
			<div class="flex flex-wrap max-w-3xl mx-auto">

				<!-- HEADER -->
				<div class="w-full my-8 sm:my-0 sm:w-3/12 sm:pr-12" data-aos="fade-right" data-aos-once="true">
					<h2 class="leading-tight font-black text-gray text-2xl md:text-3xl lg:text-5xl text-right">About<br
							class="hidden sm:block" /> us</h2>
				</div>

				<!-- CONTENT -->
				<div *ngFor="let content of services"
					data-aos="fade-left" data-aos-once="true"
					class="w-full sm:w-9/12 sm:pt-4 sm:pl-12 sm:border-l sm:border-gray-500 float-right">
					<h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
						{{ content.title }}
					</h3>
					<p class="opacity-75 leading-relaxed mb-8">
						{{ content.firstParagraph }}
					</p>
					<p class="opacity-75 leading-relaxed mb-8">
						{{ content.secondParagraph }}
					</p>
				</div>
			</div>
		</div>
	</div>

</section>