<section class="">
	<div class="container max-w-5xl mx-auto m-8">
		<h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">About us</h1>
		<div class="w-full mb-4">	
			<div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
		</div>
	
		<div class="flex flex-wrap">
			<div class="w-5/6 sm:w-1/2 p-6">
				<h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">Desarrollo de software ágil</h3>
				<p class="text-gray-600 mb-8">Desarrollamos software aplicando metodolgías ágiles, para solucionar problemas en entornos cambiantes y inciertos.<br /><br />
				
				Images from: <a class="text-orange-500 underline" href="https://undraw.co/">undraw.co</a></p>
				
			</div>
			<div class="w-full sm:w-1/2 p-6">
				<img
                class="w-auto mx-auto rounded-full"
                src="https://media.licdn.com/dms/image/C5103AQHb6HUfJWA3Sw/profile-displayphoto-shrink_200_200/0?e=1582156800&v=beta&t=KLxNCtd7NA0b4o9ey70dKKNaKhUHMBYB4HCfsGKxxDs"
                alt=""
              />

			</div>
		</div>
		
		
		<div class="flex flex-wrap flex-col-reverse sm:flex-row">	
			<div class="w-full sm:w-1/2 p-6 mt-6">
        <img
        class="w-auto mx-auto rounded-full"
        src="https://media.licdn.com/dms/image/C4E03AQGWnf0e0-swGg/profile-displayphoto-shrink_200_200/0?e=1582156800&v=beta&t=D1ujoHJULzr2BcIqvOLfSv2Dzxhv0vMT1MvhaqEH52o"
        alt=""
      />
			</div>
			<div class="w-full sm:w-1/2 p-6 mt-6">
				<div class="align-middle">
					<h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">Líderes de machine learning en la región</h3>
					<p class="text-gray-600 mb-8">Nuestro equipo altamente calificado cuenta con amplia experiencia en las áreas de análisis y procesamiento de datos, brindando a los clientes la oportunidad de solucionar sus problemas de forma inteligente.<br /><br />
					Images from: <a class="text-orange-500 underline" href="https://undraw.co/">undraw.co</a></p>
				</div>
			</div>

		</div>
	</div>
</section>
		
		