<div class="w-full py-40">
	<div class="flex flex-wrap max-w-3xl mx-auto">
		<div class="w-3/12 pr-6">
			<h2 class="text-5xl text-gray-900 leading-tight lowercase text-right font-bold">About<br />us</h2>
		</div>
		<div class="w-9/12">
			<div class="w-5/6 sm:w-1/2 p-6">
				<h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">Desarrollo de software ágil</h3>
			</div>
			<p class="opacity-75 leading-relaxed mb-8">Desarrollamos software aplicando metodolgías ágiles, para solucionar problemas en entornos cambiantes y inciertos.</p>
			<div class="w-5/6 sm:w-1/2 p-6">
				<h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">Líderes de machine learning en la región</h3>
			</div>
			<p class="opacity-75 leading-relaxed mb-8">Nuestro equipo altamente calificado cuenta con amplia experiencia en las áreas de análisis y procesamiento de datos, brindando a los clientes la oportunidad de solucionar sus problemas de forma inteligente.</p>
		</div>
	</div>
</div>
