


<h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">Meet our team</h1>


<div class="pt-16">
  



  <div class="">

    <div id="container" class="w-4/5 mx-auto  mb-20 " >
      <div class="flex flex-col sm:flex-row ">
        <!-- Card 1 -->
        <div class="sm:w-1/4 p-2">
          <div class="bg-white px-6 py-8 rounded-lg shadow-lg text-center">
            <div class="mb-3">
              <img
                class="w-auto mx-auto rounded-full"
                src="https://media.licdn.com/dms/image/C5103AQHb6HUfJWA3Sw/profile-displayphoto-shrink_200_200/0?e=1582156800&v=beta&t=KLxNCtd7NA0b4o9ey70dKKNaKhUHMBYB4HCfsGKxxDs"
                alt=""
              />
            </div>
            <h2 class="text-xl font-medium text-gray-700">Pablo Salazar</h2>
            <span class="text-blue-500 block mb-5">Co-Founder & Front End Developer</span>

          </div>
        </div>

        <!-- Card 2 -->
        <div class="sm:w-1/4 p-2">
          <div class="bg-white px-6 py-8 rounded-lg shadow-lg text-center">
            <div class="mb-3">
              <img
                class="w-auto mx-auto rounded-full"
                src="https://media.licdn.com/dms/image/C4E03AQGWnf0e0-swGg/profile-displayphoto-shrink_200_200/0?e=1582156800&v=beta&t=D1ujoHJULzr2BcIqvOLfSv2Dzxhv0vMT1MvhaqEH52o"
                alt=""
              />
            </div>
            <h2 class="text-xl font-medium text-gray-700">Guillermo Biatturi</h2>
            <span class="text-blue-500 block mb-5">Co-Founder & Back End Developer</span>

          </div>
        </div>

        <!-- Card 3 -->
        <div class="sm:w-1/4 p-2">
          <div class="bg-white px-6 py-8 rounded-lg shadow-lg text-center">
            <div class="mb-3">
              <img
                class="w-auto mx-auto rounded-full"
                src="https://media.licdn.com/dms/image/C4D03AQGN6qG9p3tlPg/profile-displayphoto-shrink_200_200/0?e=1582156800&v=beta&t=6-ZVMAfRmnyjLbm-ROhail0IFocIy8wfjzJBhIHEwwY"
                alt=""
              />
            </div>
            <h2 class="text-xl font-medium text-gray-700">Pablo Pereira</h2>
            <span class="text-blue-500 block mb-5">Co-Founder & Data Scientist</span>

          </div>
        </div>

        <!-- Card 4 -->
        <div class="sm:w-1/4 p-2">
          <div class="bg-white px-12 py-12 rounded-lg shadow-lg text-center">
            <div class="mb-3">
              <img
                class="w-auto mx-auto rounded-full"
                src="https://i.pinimg.com/originals/db/eb/27/dbeb27fbf66f184fb86c6af43b76b51d.png"
                alt=""
              />
            </div>
            <h2 class="text-xl font-medium text-gray-700 ">You!</h2>
            <span class="text-blue-500 block mb-5"></span>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
