<section>
  <div class="relative z-20 flex justify-center items-center flex-wrap h-auto overflow-hidden">
  	<div class="relative z-20 w-full flex flex-wrap justify-around max-w-4xl">
      <div class="max-w-5xl mx-auto pt-20 p-8 flex justify-end">
      </div>
      <div class="max-w-5xl mx-auto pt-20 p-4 flex justify-end">
        <span class="font-display-italic font-extrabold text-5xl md:text-6xl italic leading-none mb-12 max-w-xl pr-6">Work</span>
        <span class="text-white font-display-italic font-extrabold text-5xl md:text-6xl italic leading-none mb-12 max-w-xl">with us</span>
      </div>
      <div class="mx-auto pb-8 flex float-right">
        <span class="float-right w-5/12 font-display-italic font-extrabold text-5xl md:text-xl italic leading-none mb-12">
          We're always looking for great talents</span>
      </div>
  	</div>
  	<div class="z-10 w-1/2 h-full bg-orange-500 absolute top-0 right-0 -mr-20">
    </div>
  </div>
  <div class="relative z-20 flex justify-center items-center flex-wrap h-auto overflow-hidden">
  	<div class="relative z-20 w-full flex flex-wrap justify-around max-w-4xl">
  		<div class="w-full md:w-64">
        <a href="#" class="no-underline text-black">
    			<div class="relative mb-6">
    				<img src="https://images.unsplash.com/photo-1499914485622-a88fac536970?w=640" class="w-64 h-64 object-cover" />
    				<div class="absolute bottom-0 left-0 w-full flex justify-center items-start">
    				</div>
    			</div>
  			  <h3 class="text-xl uppercase tracking-tighter text-center font-sans">FULL-STACK DEV</h3>
        </a>
  		</div>
  		<div class="w-full md:w-64 md:mt-16">
        <a href="#" class="no-underline text-white">
    			<div class="relative mb-6">
    				<img src="https://images.unsplash.com/photo-1462078563783-650e23af549d?w=640" class="w-64 h-64 object-cover" />
    				<div class="absolute bottom-0 left-0 w-full flex justify-center items-start">
    				</div>
    			</div>
    			<h3 class="text-white text-xl uppercase tracking-tighter text-center font-sans">UX DESIGNER</h3>
        </a>
  		</div>
  	</div>
  	<div class="z-10 w-1/2 h-full bg-orange-500 absolute top-0 right-0 -mr-20"></div>
  </div>
  <div class="relative z-20 flex justify-center items-center flex-wrap pb-40 overflow-hidden">
  	<div class="relative z-20 w-full flex flex-wrap justify-around max-w-4xl">
  		<div class="w-full md:w-64">
        <a href="#" class="no-underline text-black">
    			<div class="relative mb-6">
            <img src="https://images.unsplash.com/photo-1462078563783-650e23af549d?w=640" class="w-64 h-64 object-cover" />
    				<div class="absolute bottom-0 left-0 w-full flex justify-center items-start">
    				</div>
    			</div>
    			<h3 class="text-xl uppercase tracking-tighter text-center font-sans">MARKETING</h3>
        </a>
  		</div>
  		<div class="w-full md:w-64 md:mt-16">
        <a href="#" class="no-underline text-white">
    			<div class="relative mb-6">
            <img src="https://images.unsplash.com/photo-1499914485622-a88fac536970?w=640" class="w-64 h-64 object-cover" />
    				<div class="absolute bottom-0 left-0 w-full flex justify-center items-start">
    				</div>
    			</div>
    			<h3 class="text-xl text-white text-xs uppercase tracking-tighter text-center font-sans">QA TESTER</h3>
        </a>
  		</div>
  	</div>
  	<div class="z-10 w-1/2 h-full bg-orange-500 absolute top-0 right-0 -mr-20"></div>
  </div>
</section>
