<div class="pt-32">
  <div class="max-w-sm border-solid border-2 border-gray-600 bg-red-500 rounded-sm max-w-sm mx-auto my-10 p-6">
      <p class="font-mono text-4xl text-white text-right">Want to work</p>
      <p class="font-mono text-4xl text-white text-right">with us?</p>
  </div>
  <div class="max-w-sm rounded-sm max-w-sm mx-auto my-10 p-6">
      <span class="font-mono text-2xl text-gray-600">We're</span>
      <span class="font-mono text-2xl text-gray-600 font-extrabold">always</span>
      <span class="font-mono text-2xl text-gray-600">looking</span>
      <p class="font-mono text-2xl text-gray-600">for great talents</p>
  </div>

  <div class="link" data-block="contact-form" class="max-w-sm border-solid border-2 border-gray-600 rounded-sm max-w-sm mx-auto my-10 p-6">
      <p class="font-mono text-2xl text-gray-600 text-center">FULLSTACK DEV</p>
  </div>

  <div data-block="contact-form" class="max-w-sm border-solid border-2 border-gray-600 rounded-sm max-w-sm mx-auto my-10 p-6">
      <p class="font-mono text-2xl text-gray-600 text-center">UX DESIGNER</p>
  </div>

  <div data-block="contact-form" class="max-w-sm border-solid border-2 border-gray-600 rounded-sm max-w-sm mx-auto my-10 p-6">
      <p class="font-mono text-2xl text-gray-600 text-center">MARKETING</p>
  </div>

  <div data-block="contact-form" class="max-w-sm border-solid border-2 border-gray-600 rounded-sm max-w-sm mx-auto my-10 p-6">
      <p class="font-mono text-2xl text-gray-600 text-center">QA TESTER</p>
  </div>
</div>
