<nav id="header" class="navbar w-full z-1 absolute top-0 text-white">
  <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-5 px-2">
    <div class="pl-4 flex items-center">
      <a class="text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
        href="#">
        <svg
          class="h-6 w-6 inline-block fill-current text-white-700"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20">
          <path d="M13 8V0L8.11 5.87 3 12h4v8L17 8h-4z" />
        </svg>
        KIMOT
      </a>
    </div>
    <div
      class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 text-black p-4 lg:p-0 z-20"
      id="nav-content">
      <ul class="list-reset lg:flex justify-end flex-1 items-center">
        <li class="mr-3">
          <a class="inline-block py-2 px-4 text-white font-bold text-lg no-underline" href="#">Home</a>
        </li>
        <li class="mr-3">
          <a class="inline-block py-2 px-4 text-white font-normal text-lg no-underline"href="#">Services</a>
        </li>
        <li class="mr-3">
          <a class="inline-block py-2 px-4 text-white font-normal text-lg no-underline"href="#">Work</a>
        </li>
        <li class="mr-3">
          <a class="inline-block py-2 px-4 text-white font-normal text-lg no-underline" href="#">About</a>
        </li>
        <li class="mr-3">
          <a class="inline-block py-2 px-4 text-white font-normal text-lg no-underline" href="#" >Contact</a>
        </li>
        <li class="mr-3">
          <a class="inline-block py-2 px-4 text-white font-normal text-lg no-underline" href="#" >Careers</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="bg-intro">
  <div class="h-screen">
      <div class="flex h-full items-center">
        <div class="container mx-auto px-8">
          <h2 class="leading-tight font-black text-white text-center text-2xl md:text-3xl lg:text-5xl mb-4">
            Creating high-value software
          </h2>

          <p class="leading-normal text-white text-center md:text-xl lg:text-2xl">
            Experts focused on delivering quality products, we make <br>
            great designs in order to provide highly valuable solutions.
          </p>
        </div>
      </div>
  </div>
</section>
