<section class="container mx-auto">
    <div class="shadow-our-work-shadow bg-gray-300 max-w-3xl mx-auto my-10 p-6">
        <h1>Our work</h1>
        <span>Check our latest projects</span>
    </div>

    <div class="flex mx-auto">
        <div *ngFor="let item of projects" class="text-center flex-1 shadow-md mx-4 p-6 bg-gray-200 rounded-lg">
            <div>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/tt_tailwind_logo.jpg" 
                    alt="logo" 
                    class="rounded-full mx-auto my-5 h-32 w-32 border-4 border-solid">
            </div>

            <div class="my-5">
                <div>
                    <h3>{{item.title}}</h3>
                </div>
    
                <div>
                    <span>{{item.description}}</span>
                </div>
            </div>
        </div>
    </div>
</section>