<div>
    <nav id="navbar" class="animated fadeInDown navbar w-full z-10 absolute top-0 text-white">
        <div class="w-full container mx-auto flex flex-wrap items-center justify-between px-2">
            <div class="my-3 flex items-center">
                <a class="text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl" 
                    [ngx-scroll-to]="homeComponent"
                    (click)="logoClick()"
                    href="#home">
                    <img class="logo" src="../../../assets/images/logo/for-website-used--white.png" alt="Logo de KIMOT">
                </a>
            </div>
            <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 text-black p-4 lg:p-0 z-20"
                id="nav-content">
                <ul class="list-reset lg:flex justify-end flex-1 items-center">
                    <li class="mr-3">
                        <a href="#home" class="active-link inline-block py-1 mx-4 text-white font-normal text-lg no-underline"
                            [ngx-scroll-to]="homeComponent" id="homeRoute" (click)="addActiveLinkStyle($event)">Home</a>
                    </li>
                    <li class="mr-3">
                        <a href="#services" class="inline-block py-1 mx-4 text-white font-normal text-lg no-underline"
                            [ngx-scroll-to]="servicesComponent" id="servicesRoute" (click)="addActiveLinkStyle($event)">Services</a>
                    </li>
                    <li class="mr-3">
                        <a href="#work" class="inline-block py-1 mx-4 text-white font-normal text-lg no-underline"
                            [ngx-scroll-to]="workComponent" id="workRoute" (click)="addActiveLinkStyle($event)">Work</a>
                    </li>
                    <li class="mr-3">
                        <a href="#about" class="inline-block py-1 mx-4 text-white font-normal text-lg no-underline"
                            [ngx-scroll-to]="aboutComponent" id="aboutRoute" (click)="addActiveLinkStyle($event)">About</a>
                    </li>
                    <li class="mr-3">
                        <a href="#team" class="inline-block py-1 mx-4 text-white font-normal text-lg no-underline"
                            [ngx-scroll-to]="teamComponent" id="teamRoute" (click)="addActiveLinkStyle($event)">Team</a>
                    </li>
                    <li class="mr-3">
                        <a href="#contact" class="inline-block py-1 mx-4 text-white font-normal text-lg no-underline"
                            [ngx-scroll-to]="contactComponent" id="contactRoute" (click)="addActiveLinkStyle($event)">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div #homeComponent>
        <app-home></app-home>
    </div>

    <div #servicesComponent>
        <app-services></app-services>
    </div>

    <div #workComponent>
        <app-work></app-work>
    </div>

    <div #aboutComponent>
        <app-about></app-about>
    </div>

    <div #teamComponent>
        <app-team></app-team>
    </div>

    <div>
        <app-technologies></app-technologies>
    </div>

    <div #contactComponent>
        <app-contact></app-contact>
    </div>

    <div>
        <app-footer></app-footer>
    </div>
</div>