<section>

  <!-- HEADER & DESCRIPTION -->
  <div class="container mx-auto text-center" data-aos="fade-up" data-aos-once="true">
    <h2 class="leading-tight font-black text-gray text-2xl md:text-3xl lg:text-5xl mb-5 pt-20">What we do</h2>
    <!-- <p class="leading-normal text-gray text-center md:text-lg lg:text-xl">
      In Kimot we develop and deliver high-value software. <br>
      We understand your needs and welcome challenging project ideas.
    </p> -->
  </div>

  <!-- CARDS SERVICES -->
  <div class="container mx-auto">
    <div class="flex items-stretch flex-wrap mt-16 text-center mx-3" data-aos="fade-up" data-aos-once="true">

      <div *ngFor="let service of services" class="flex w-full my-2 md:w-1/2 md:p-4 lg:w-1/4">
        <div class="shadow-lg bg-white rounded-lg border border-gray-300 p-8 h-full">
          <img [src]="service.image" alt="" class="h-20 mx-auto">
          <h4 class="text-xl font-bold mt-4">{{ service.title }}</h4>
          <p class="mt-1 pt-4">{{ service.description }}</p>
        </div>
      </div>

    </div>
  </div>

</section>